/*  FONTS
================================== */

$font: 'Mplus 1p';

/*  COLORS
================================== */

$color1: #221EDD;
$color2: #02006F;
$color3: #828282;
$color4: #101010;
$black: #000;
$light: #fff;